.button {
    background: #77BC1F;
    border:0;
    /* CREATE: */
    font-family: OpenSans;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 27px;
    text-transform: uppercase;
    width: 110px;
    height: 40px;
}