.modalWrap{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    font-family: 'OpenSans';
}
.newPostTitle{margin: 0;padding: 0 0 10px}
.newPostWrapper {
    position: relative;
    width: 70%;
    background: #fff;
    padding: 20px;
    margin: 30px auto;
    box-sizing: border-box;
}
.newPostWrapper .formInput {
    width: 100%;
}
#details {
    height: 45%;
    resize: none;
    font-family: OpenSans;
}
.close-modal{
    position: absolute;
    top:20px;
    right:20px;
    cursor: pointer;
}
.author-desc {
    padding: 5px 0 10px;
}